#root {
  margin: 0 auto;
}
input {
  border: none;
  border-radius: 5px;
}

.cesium-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.custom-card {
  margin-bottom: 10px;
}
