.prime-button {
  display: inline-block;
  margin: 0;
  padding: 3px 20px;
  /* width: 65px;
  height: 33px;
  display: flex;
  text-align: center;
  justify-content: center; */
  line-height: 100%;
  align-items: center;
  /* background: linear-gradient(
    160deg,
    #ca570a7d,
    #ca570a7d 10%,
    #ff771dc2 30%,
    #ff771d 50%,
    #ff771dc2 70%,
    #ca570a7d 90%,
    #ca570a7d
  ); */
  background: linear-gradient(160deg, #e16a1b 70%, #e16a1b 70%);
  /*  box-shadow: 2px 2px 2px black; */
  transition: all 0.1s ease-in-out;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 300;
  color: #d1d1d1;
  cursor: pointer;
  user-select: none; /* 标准语法 */
}

.prime-button:hover {
  /* background: linear-gradient(#ca570a, #ca570a); */
  background: linear-gradient(
    160deg,
    #ff771d,
    #ff771d 20%,
    #ca570a 50%,
    #ff771d 80%,
    #ff771d
  );
  color: white;
}

.prime-button:active {
  /* background: linear-gradient(#ff8615, #ff8615); */
  background: linear-gradient(#ff771d, #ff771d);
  color: white;
  transform: scale(0.98);
}

.secondary-button {
  margin: 0;
  padding: 3px 20px;
  line-height: 100%;
  align-items: center;
  background-color: #25252799;
  /*  box-shadow: 2px 2px 2px black; */
  transition: all 0.1s ease-in-out;
  border: none;
  border-radius: 100px; /* 只要超过宽度就会变圆角。。。 */
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  cursor: pointer;
  user-select: none; /* 标准语法 */
}

.secondary-button:hover {
  /* background-color: #95959d33; */
  background-color: #8d8d8d;
  color: white;
}

/* ======================== */
/* =================Table */
/* ======================== */
.neat-table {
  /* width: 100%; */
  border-collapse: collapse;
  border: 3px solid rgb(140 140 140);
  border-radius: 3px;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: black;
}

.neat-table caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

.neat-table thead,
.neat-table tfoot {
  border-radius: 3px;
  background-color: rgb(228 240 245);
}

.neat-table th,
.neat-table td {
  border-radius: 3px;
  border: 2px solid rgb(160 160 160);
  padding: 8px 10px;
}

.neat-table td:last-of-type {
  text-align: center;
}

.neat-table tbody > tr:nth-of-type(odd) {
  background-color: white;
}
.neat-table tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.neat-table tfoot th {
  text-align: right;
}

.neat-table tfoot td {
  font-weight: bold;
}
